$primary:#233a7a;
$secondary: #f2541b;
$white:#fff;
$forth:#f2f2f0;
$black:#181c26;
$terciary:#122251;


@mixin setPath($string){
    $path: $string !global;
}

@mixin fontFace($family,$fontName,$style: normal,$weight: normal) {
	@font-face {
    font-display: fallback;
		font-family: $family;
		src: url('#{$path}#{$fontName}/#{$fontName}.woff') format('woff');
		font-style: $style;
		font-weight: $weight;
	}
}

@mixin btnForm( $border: $white, $color:$black, $bg:'transparent') {
	input[type=submit] {
		background-color:$bg;
		background-image:none;
		height:60px;
		border:2px solid $border;
		width:100%;
		font-family:'politica-bold';
		font-size:1rem;
		color:$color;
		text-transform: uppercase;
		letter-spacing:1.5px;
		outline:none;
		cursor:pointer;
	}
}

@mixin genericLink( $bgcolor: $secondary, $colortext: $white, $bghover: $secondary, $colorhover:$white) {
	a {
		background-color:$bgcolor;
		color:$colortext;
		display:inline-block;
		width:100%;
		text-align:center;
		letter-spacing:1.5px;
		transition:all .5s;
		&:hover{
			background-color:$bghover;
			color:$colorhover;
		}
	}
}

@mixin titleArrow($color: $white){
	h2{
        font-size:56px;
		position:relative;
        &:after{
            position:absolute;
            left:0;
            bottom:-10px;
            content:"";
            width: calc( 50% - 10px);
            height: 1px;
            border: solid 1px $color;
			background-color: $color;
        }
        &:before{
            position:absolute;
            right:0;
            bottom:-10px;
            content:"";
            width: calc( 50% - 10px);
            height: 1px;
            border: solid 1px $color;
            background-color: $color;
        }
    }
}